node_modules
bower_components
/test/log/
/test/reportage.config.js
/backend/integrity-service-helpers/build/
/backend/validation-console/dist/
/backend/blacklist.json
/backend/whitelist.json
/root/
/frontend/
/keys/
/compat-lib/build/
/compat-lib/*.tgz
/raw-react/package-lock.json
/raw-lit/package-lock.json
/raw/package-lock.json
/backend/validation-console/package-lock.json
/package-lock.json
/nginx.conf
/nginx.pid
/.nyc_output/
/backend-in-progress/
